[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
mysqlclient = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
